@import url("https://fonts.googleapis.com/css2?family=Figtree&display=swap");
@import 'tailwindcss';
@plugin "@tailwindcss/forms";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Figtree', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --background-image-logo-light: url('../img/politecnico_h.svg');
    --background-image-logo-dark: url('../img/politecnico_h_white.svg');
}
